.listmain{
  list-style-type: none;
  max-width: 500px;
  margin: auto;
  margin-top: 30px;
  padding: 0px;
  line-height: 1.5;
  background-color: #FFF;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}
.listmain li{
  height: 3em;
  border-bottom: 1px solid #DDD;
}
.listmain .listlink{
  padding-left: 1em;
  display: inline-block;
  box-sizing: border-box;
  width: 451px;
}
@media (max-width : 500px) {
  .listmain .listlink{
    width: 80%;
  }
}
.listmain .listlink:hover{
  background-color: #B0BEC5;
}
.listmain .listdate{
  display: inline-block;
  float: left;
  line-height: 3;
  width: 100px;
  height: 3em;
}
.listmain .listtitle{
  display: inline-block;
  float: left;
  line-height: 3;
  max-width: 330px;
  height: 3em;
  overflow: hidden;
}
.listmain .listdl{
  float: right;
  margin: 0em;
  padding: 0.5em;
  font-size: 1.5em;
  border-left: 1px solid #DDD;
}
.listmain .listdl:hover{
  background-color: #90A4AE;
}
.listmain .listyear{
  padding-top: 5px;
  padding-left: 17px;
  height: 40px;
  font-size: 1.5em;
  color: #626262;
  background-color: #EBEBEB;
}